.header {
	padding: 25px 0px 5px 0;
	background-color: rgba(24, 24, 24, 1);
	box-shadow: 0px 0px 10px 20px rgba(24, 24, 24, 1);
	
	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 25px;
	}

	&__bottom {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.logo {
	display: flex;
	align-items: center;
	font-family: robotoBoldItalic;
	color: #1E2832;

	h1 {
		font-size: adaptValue(48, 32);
		line-height: 1.16;
		-webkit-text-stroke: 1px #D9D9D9;
	}
	h2 {
		-webkit-text-stroke: 0.8px #D9D9D9;
		font-size: adaptValue(28, 16);
		line-height: 1;		
		letter-spacing: 0.05em;
		transform: translate(1%,25%);

		position: relative;
		&::before {
			content: "";
			position: absolute;
			bottom: -3px;
			left: 0;
			width: 100%;
			height: adaptValue(2.5,1);
			background-color: #fff;
			border-radius: 10px;
		}
	}
}

.searchbar {
	&__text {
		padding: $btnPadTop 30px $btnPadTop 46px;
		background-color: transparent;
		@include btnBorderParams;

		font-size: 16px;
		line-height: 1;
		color: #D9D9D9;
		::placeholder {
			font-size: 16px;
			line-height: 1;
			color: #D9D9D9;
		}
	}

	position: relative;
	&__search-icon {
		position: absolute;
		left: 20px;
		top: 50%;
		transform: translate(0%,-45%);		
	}

	&__close-icon {
		position: absolute;
		right: 20px;
		top: 50%;
		transform: translate(0%, -45%);
	}
}

.navigation {
	display: flex;
	
	&__item {
		white-space: nowrap;
		font-size: adaptValue(24, 20);
		line-height: 150%;
		color: #D9D9D9;

		padding-bottom: 5px;

		margin-right: 30px;
		&:last-child {
			margin-right: 0;
		}

		//onHover effect
		position: relative;
		&::after {
			content: '';
			position: absolute;
			bottom: 5px;
			left: 0;
			width: 0;
			height: 2px;
			background-color: #D9D9D9;
			border-radius: 10px;

			transition: all 0.2s ease-in;
		}

		&:hover, &.active {
			&::after {
				width: 100%;
			}
		}
	}
}

.mycart {
	cursor: pointer;

	display: flex;
	align-items: center;
	padding: ($btnPadTop - 2.5) 20px;
	@include btnBorderParams;

	&__icon {
		height: 24px;
	}

	&__text {
		white-space:nowrap;
		margin-left: 10px;
		@include btnTextParams;
	}
}

.menu-burger {
	display: none;
}

@media (max-width: 1300px) {
	.header {
		&__body {
			flex-direction: row;
			justify-content: space-between;
		}

		&__bottom {
			width: auto;
			gap: adaptValue(50, 25);
		}
	}

	.navigation {
		transition: all 0.3s ease-in-out;

		position: absolute;
		z-index: 99;
		left: 0;
		width: 100%;
		min-height: 100vh;
		padding: 10vh 0;
		background-color: rgba(0, 0, 0, 0.8);

		top: 0;
		transform: translate(0,-100%);
		
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;

		&__item {
			margin-right: 0;
			margin-top: 20px;
		}

		&.active {
			transform: translate(0,0);
		}
	}

	.menu-burger {
		cursor: pointer;
		display: block;
		transition: all 0.3s ease-in-out;

		position: relative;
		z-index: 100;
		height: 20px;
		width: 35px;

		&__top, &__center, &__bottom {
			transition: all 0.3s ease-in-out;
			position: absolute;
			right: 0;
			width: 100%;
			height: 3px;
			background-color: #D9D9D9;
			border-radius: 10px;
		}

		&__top {
			top: 0;
		}
		&__bottom {
			bottom: 0;
		}
		&__center {
			top: 50%;
			transform: translate(0, -50%);
		}

		&.active {
			transform: rotate(-90deg);

			.menu-burger__center {
				width: 66%;
			}

			.menu-burger__top {
				width: 33%;
			}

		}
	}
}

.search_mb, .mycart_mb {
	display: none;
}

@media (max-width: 700px) {
	.header__body {
		position: relative;
		top: 0;
		right: 0;
		transition: all 0.3s ease-in-out;
		
		.searchbar {
			transition: all 0.3s ease-in-out;
			opacity: 1;
			position: absolute;
			top: 50%;
			left: -100%;
			transform: translate(-50%, -50%);
		}

		&.active {
			right: -100%;
			top: 0;

			.searchbar {
				left: -50%;
			}
		}
	}

	.search_mb {
		display: block;
	}
}

@media (max-width: 420px) {
	.mycart {
		display: none;
	}
	.mycart_mb {
		display: block;
	}
}


//MyCart popup
.mycart-popup {
	transition: all 0.3s ease-in-out;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	opacity: 0;

	&.active {
		opacity: 1;
		z-index: 110;

		.mycart-popup__content {
			transform: translate(0,0);
		}
	}

	min-height: 100vh;
	width: 100%;
	overflow-x: hidden;
	background-color: rgba(0, 0, 0, 0.7);

	display: flex;
	flex-direction: column;
	align-items: flex-end;

	&__content {
		transition: all 0.3s ease-in-out;
		transform: translate(100%,0);
		flex: 1 1 auto;
		position: relative;
		z-index: 101;
		background-color: #f1f1f1;
	}


	$horizontPad: adaptValue(51, 20);
	&__goback {
		cursor: pointer;
		padding: 56px $horizontPad 30px $horizontPad;
		border-bottom: 1px solid black;

		display: flex;
		align-items: center;
		justify-content: center;
		gap: 21px;

		h3 {
			font-size: adaptValue(28, 23);
			line-height: 1.5;
			letter-spacing: 0.0075em;
			color: #000000;
		}
		img {
			height: adaptValue(41, 33.6);
		}
	}

	&__items-list {
		padding: adaptValue(47, 30) $horizontPad adaptValue(30, 25) $horizontPad;
		border-bottom: 2px solid black;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__items-title {
		font-family: robotoBold;
		font-size: adaptValue(28, 23);
		line-height: 1.5;
		letter-spacing: 0.0075em;
		color: #000000;

		margin-bottom: 12px;
	}

	&__summary {
		padding: adaptValue(55, 30) $horizontPad;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 20px;
	}

	&__sum {
		font-size: adaptValue(28, 23);
		line-height: 1.1875;
		color: #000000;

		span {
			font-family: robotoBold;
			letter-spacing: 0.03em;
		}
	}
}

.mycart-item {
	padding: 25px 20px 17px 20px;
	background-color: #d9d9d9;
	border-radius: 25px;

	$margin: 17px;

	&__name {
		font-family: robotoMedium;
		font-size: adaptValue(18, 16);
		line-height: 1.15;
		letter-spacing: 0.05em;
		color: #000000;

		margin-bottom: $margin;
	}

	&__size {
		margin-bottom: $margin;
		display: flex;
		align-items: center;
		gap: 15px;
		p {
			font-size: adaptValue(18, 16);
			line-height: 1.15;
			letter-spacing: 0.05em;
			color: #5A5B6A;
		}

		.sizes-list {
			display: flex;
			gap: 15px;
		
			&__item {
				font-family: robotoMedium;
				transition: all 0.3s ease-in-out;
				cursor: pointer;
				font-size: 16px;
				line-height: 1.15;
				letter-spacing: 0.05em;
				color: rgba(0, 0, 0, 0.6);
		
				&.active {
					color: black;
				}
			}
		}
	}

	&__amount {
		margin-bottom: $margin;
	}

	.mycart-amount {
		display: flex;
		align-items: center;

		font-size: adaptValue(18, 16);
		line-height: 1.15;
		letter-spacing: 0.05em;
		
		&__text {
			color: #5A5B6A;

			margin-right: 10px;
		}

		&__number {
			margin-right: 20px;
		}

		&__number, &__change-number  {
			font-family: robotoBold;
			color: black;
		}

		&__change-number {
			display: flex;
			align-items: center;
			gap: 10px;

			position: relative;
			&::before {
				content: '';
				position: absolute;
				top: 50%;
				left: -10px;
				transform: translate(-50%,-50%);

				height: 90%;
				width: 2px;
				background-color: #000;
			}
		}

		&__add, &__diff {
			cursor: pointer;
		}
	}

	&__price {
		margin-top: adaptValue(25, 15);

		text-align: center;
		font-family: robotoBold;
		font-size: adaptValue(24, 20);
		line-height: 1.16;
		letter-spacing: 0.07em;
		color: #000000;
	}
}