@import "nullstyle";
@import "fonts";
@import "useful";

@import "svg-sprite";

body {
	font-family: robotoRegular;
	background-color: #f1f1f1;

	overflow: auto;
	&.lock {
		overflow: hidden;
	}
}

@media (min-width: 1024px) {
	// custom scrollBar
	::-webkit-scrollbar {
		width: 3px;
		&-track {
			background: #181818;
		}
		&-thumb {
			background: #f1f1f1;
		}
	}
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	max-width: 100%;
	overflow: hidden;

	&__header-absolute {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;

		z-index: 99;
	}

	.brands, .items-container {
		flex: 1 1 auto;
	}
}
.container {
	max-width: 1793px;
	margin: 0 auto;
	padding: 0 25px;
}

@import "header";
@import "main-slider";
@import "brands";
@import "footer";
@import "items";