.search_icon {
	cursor: pointer;
	width: 16px;
	height: 15px;
}
.search_mb {
	width: 25px;
	height: 24px;
}
.close_icon {
	cursor: pointer;
	display: inline-block;
	width: 15px;
	height: 15px;
}

.mycart_icon {
	width: 23px;
	height: 30px;
}
.mycart_mb {
	width: 31px;
	height: 35px;
}

.big_arrow_left {
	width: 23px;
	height: 41px;
}

.arrow-top {
	width: adaptValue(16, 13);
	height: adaptValue(21, 17);
}

.slider_arrow_left {
	cursor: pointer;
	width: adaptValue(53, 26);
	height: adaptValue(53, 26);
}