.search_icon {
	width: 16px;
	height: 15px;
}
.search_mb {
	width: 25px;
	height: 24px;
}
.close_icon {
	width: 15px;
	height: 15px;
}

.mycart_icon {
	width: 23px;
	height: 30px;
}
.mycart_mb {
	width: 31px;
	height: 35px;
}

.big_arrow_left {
	width: 23px;
	height: 41px;
}

.arrow-top {
	width: adaptValue(16, 13);
	height: adaptValue(21, 17);
}